* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgb(246, 242, 235);
}

html {
  overflow-x: hidden;
}

p {
  font-family: Georgia, "Times New Roman", Times, serif;
}

a {
  text-decoration: none;
  color: black;
}

.overlay {
  z-index: 222;
}
